.scroller {
    width: 100vw;

    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: 0;
    scrollbar-width: none;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    &> :first-child {
        margin-left: 0.5rem;
    }

    &>:last-child {
        margin-right: 0.5rem;
    }
}

.tab {
    outline: none;
}

.selected {
    font-weight: 600;
}