@import './reset';
@import './variables/global';
@import './variables/theme';

@font-face {
    font-family: 'GT America';
    src: url('../../../public/fonts/gt-america.otf');
}

@font-face {
    font-family: 'GT America';
    font-weight: bold;
    src: url('../../../public/fonts/gt-america-bold.otf');
}

@font-face {
    font-family: 'Pangram Sans';
    src: url('../../../public/fonts/pangram-sans.ttf');
}

body {
    font: var(--font-md);
}

* {
    scroll-behavior: smooth !important;
}