:root {
    --color-background: #fff;
    --color-primary: #000;
    --color-secondary: #555;
    --color-inverted: #fff;
    --color-soft: #feefaa;
    --color-accent: #2b4385;
    --color-gray: #888;
    --color-gray-light: #eee;
    --color-disabled: #999;
}