.Button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.1s ease-in-out;

    &:hover {
        fill-opacity: 0.8;
        opacity: 0.9;
        stroke-opacity: 0.8;
    }
}

a.Button {
    text-decoration: none;
}

.primary {
    background: var(--color-soft);
    color: var(--color-primary);
}

.secondary {
    background: var(--color-gray-light);
    color: var(--color-secondary);
}

.outlined {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.accent {
    background: var(--color-accent);
    color: var(--color-inverted);
}

.disabled {
    border: solid 2px var(--color-gray-light);
    background: none;
    color: var(--color-disabled);
    cursor: auto;
}

.clear {
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    color: var(--color-primary);
    outline: none;
}

.after {
    margin-left: 0.4rem;
    color: var(--color-gray);
    mix-blend-mode: luminosity;
}

.before {
    margin-right: 0.4rem;
    color: var(--color-gray);
    mix-blend-mode: luminosity;
}

.loader {
    margin: 0 10px;
}

.fullWidth {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font: var(--font-xs);
}

.medium {
    font: var(--font-md);
}

.large {
    font: var(--font-lg);
}

.xs {
    border-radius: 0;
}

.sm {
    border-radius: 0.5rem;
}

.md {
    border-radius: 1rem;
}

.lg {
    border-radius: 1.5rem;
}

.xl {
    border-radius: 2rem;
}

.left {
    justify-content: start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: end;
}

.link {
    color: none;
}

.noIndent {
    padding: 0;
    margin: 0;
}

.smPadding {
    padding: 0.2rem 1rem;
}

.mdPadding {
    padding: 0.5rem 1.5rem;
}